* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF5E1;
}


.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.70); 
    z-index: -1; 
}
.content-container{
    position: absolute; /* Ensures it stays on top of the video */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the content perfectly */
    text-align: center;
    color: white; /* Ensures text is visible over the overlay */
   
}
.content-container h1{
    font-size:50px;
    color:white; /* Text color */
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
}
.content-container p{
    margin-top:10px;
    font-size:20px;
}
.content-container button{
    margin-top:20px;
}

.denote-btn{
    height:40px;
    width:150px;
    border:2px solid #F71735;
    border-radius:25px;
    font-size:17px;
    color:#C80036;
    font-weight:600;
}
.denote-btn:hover{
    background-color:#F71735;
    color:white;
}
.findfood-btn{
    height:40px;
    width:150px;
    border:2px solid #F71735;
    border-radius:25px;
    font-size:17px;
    color:#C80036;
    font-weight:600;
    margin-left:20px;
   
}
.findfood-btn:hover{
    background-color:#F71735;
    color:white;
}