*{
    color:white;
}
nav {
    display: flex;
    align-items: center; 
    gap: 20px; 
    padding: 10px 20px;
}

.logo{
    height:auto;
    width:60px;
    margin-left:30px;
}
.web-name{

    font-family: "Lobster", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size:25px;
}
.navbar-container{
    display:flex;
    align-items:center;
    margin-left:600px;
    gap:70px;
    font-size:20px;
    font-family: "Lobster", sans-serif;
    font-weight: 600;
    font-style:normal;
    color:#0C1844;
}
.navbar-container button{
    height:40px;
    width:100px;
    border:2px solid #F71735;
    border-radius:25px;
    font-size:17px;
    color:#C80036;
    font-weight:600;
}

.navbar-container button:hover{
    background-color:#F71735;
    color:white;
}

